name: chat-backend-ci
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: ./chat-server
    - name: Build with Gradle
      run: ./gradlew build
      working-directory: ./chat-server